In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'num_legs': [2, 4, 4, 6],
                   'num_wings': [2, 0, 0, 0]},
                  index=['falcon', 'dog', 'cat', 'ant'])

In [3]:
df

        num_legs  num_wings
falcon         2          2
dog            4          0
cat            4          0
ant            6          0

In [4]:
df.value_counts()

num_legs  num_wings
4         0            2
2         2            1
6         0            1
Name: count, dtype: int64

In [5]:
df.value_counts(sort=False)

num_legs  num_wings
2         2            1
4         0            2
6         0            1
Name: count, dtype: int64

In [7]:
df['num_legs']

falcon    2
dog       4
cat       4
ant       6
Name: num_legs, dtype: int64

In [19]:
df['num_legs'].notna()

falcon    True
dog       True
cat       True
ant       True
Name: num_legs, dtype: bool

In [20]:
df['num_legs'].notna().sum

<bound method Series.sum of falcon    True
dog       True
cat       True
ant       True
Name: num_legs, dtype: bool>

In [9]:
a1=df['num_legs'].value_counts()

In [10]:
print(type(a1))

<class 'pandas.core.series.Series'>

In [12]:
a1.describe()

count    3.000000
mean     1.333333
std      0.577350
min      1.000000
25%      1.000000
50%      1.000000
75%      1.500000
max      2.000000
Name: count, dtype: float64

In [13]:
a2=a1.sort_index()

In [14]:
a2

num_legs
2    1
4    2
6    1
Name: count, dtype: int64

In [15]:
for i,j in a2.items():
    print(i, j)

2 1
4 2
6 1

## octave code when kernel is octave
% Define the input signal
input_signal = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];

% Define the FIR filter coefficients
coefficients = [0.2, 0.5, 0.3];

% Apply the FIR filter using the 'filter' function
% For FIR filters, the denominator coefficients (a) are just [1]
filtered_signal = filter(coefficients, 1, input_signal);

% Display the filtered signal
disp("Filtered Signal:");
disp(filtered_signal);